 .aboutUsWrapper {
    padding: 1.5em 2.1em;
 }
 
 p {
    color: black;
    text-align: left;
    font-size: 16px;
 }

 .textAndImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
 }

 .aboutUsImg {
    max-width:600px;
    object-fit: contain;
 }


 @media screen and (max-width: 1199px) {
    .textAndImgContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
     }

     .aboutUsImg {
      max-width: 300px;
     }
    
 }