body {
  background-color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.menulogo.img {
  height: 10px;
  width: 10px;
}


.dashboardbackgrnd {
  display: flex;
  flex-direction: column;
}

.dashboardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome, .welcome2 {
  color: #FFFF;
  font-family: 'Mountains of Christmas', cursive;
}

@media screen and (max-width: 960px) {
  .dashboardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


}


